@model DiveO.Models.Dive

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    
    <div class="DiveDetails">
            <h4>Dive Site</h4>
            <div>@Html.DisplayFor(model => model.DiveSite)</div>
            <h4>Map</h4>
            @*Map Div for Google Map*@
            <div id="mapDiv"></div>
            <h4>Date</h4>
            <div>@Html.DisplayFor(model => model.Date.Date)</div>
            <h4>Time</h4>
            <div>@Html.DisplayFor(model => model.Time)</div>
            <h4>Dive Length</h4>
            <div>@Html.DisplayFor(model => model.Duration)</div>
            <h4>Depth</h4>
            <div>@Html.DisplayFor(model => model.Depth)</div>
            <h4>Description</h4>
            <div>@Html.DisplayFor(model => model.Description)</div>
    </div>
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiveSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiveSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
