@using DiveO.Services
@using DiveO.ViewModels
@model DiveO.ViewModels.DiverViewModel

 <div class="container-fluid">
         <div class="row">
             <div class="well col-sm-8 col-sm-offset-2">
                 <h2 class="content">Dive Feed</h2>
             </div>
         </div>
         @foreach (var item in Model.DiverList)
         {
             <div class="row">
                 <div class="well col-sm-8 col-sm-offset-2">

                     <div class="content">
                         @foreach (Dive dive in item.DiveLog)
                         {
                             <div class="user-row">
                                 @{var img = new ImageProcessor().ByteToImage(item.ProfilePic);}
                                 <img src="@img" class="img-circle" width="50" height="50" style="display: inline-block;" />
                                 <h3 style="display: inline-block;">@Html.ActionLink(@item.Name, "Details", "Divers", new { id = item.Id }, null)</h3>
                             </div>
                             <p>Completed a new dive: @Html.ActionLink(@dive.DiveSite, "Details", "Dive", new { id = dive.Id}, null)</p>
                            foreach (var p in dive.Photos)
                            {
                                var divePhoto = new ImageProcessor().ByteToImage(p.PhotoBytes);
                                <img src="@divePhoto" class="photo" width="70" height="70" />
                            }
                          }
                     </div>
                 </div>
             </div>
          }
     </div>