@using DiveO.Services
@using DiveO.ViewModels
@model DiveO.ViewModels.DiverViewModel

@{
    ViewBag.Title = "Home Page";
}

@*<h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

<div class="container-fluid">
    <div class="row">
        <div class="title-header col-sm-6">
            <h2 class="text-primary">Dive Feed</h2>
        </div>
        <div class="content-box col-sm-8">
            @foreach (var item in Model.DiverList)
            {
            <div>
                @foreach (Dive dive in item.DiveLog)
                {
                    <div class="user-row">
                        @{
                            var img = new ImageProcessor().ByteToImage(item.ProfilePic);
                        }
                        <img src="@img" class="img-circle" width="50" height="50" style="display: inline-block;"/>
                        <h3 style="display: inline-block;">@item.Name</h3>
                     </div>
                     <p>Completed a new dive: @dive.DiveSite, @dive.Location</p>
                     foreach (var p in dive.Photos)
                     {
                        var divePhoto = new ImageProcessor().ByteToImage(p.PhotoBytes);
                        <img src="@divePhoto" class="photo" width="70" height="70" />
                     }
                }
                </div>
             }
        </div>


    </div>


</div>