@using DiveO.Services
@model DiveO.ViewModels.DiverViewModel

@{
    ViewBag.Title = "Details";
}

    <div class="content-box">
        <div class="user-row">
            <div class="title-header">
                @{
                    var img = new ImageProcessor().ByteToImage(Model.ProfilePic);
                }
                <img src="@img" class="img-circle" width="70" height="70" style="display: inline-block"/>
                <h3 style="display: inline-block">@Html.DisplayFor(model => model.Name)</h3>
            </div>
            <div id="user_info">
                <h6>Home Base</h6>
                <p>@Html.DisplayFor(model => model.HomeBase)</p>
                <h6>About Me</h6>
                <p>@Html.DisplayFor(model => model.Description)</p>
                <h6>Certification Level</h6>
                <p>@Html.DisplayFor(model => model.Certification)</p>
            </div>
        </div>
    </div>





    
    <p>
        @Html.ActionLink("Dive Log", "Index", "Dive") |
        @Html.ActionLink("Add A Dive", "Create", "Dive", new { id = Model.Id }, null) |
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

