@using DiveO.Services
@model DiveO.Models.Diver

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <h2>Details</h2>

    <div>
        <hr />

        <div class="sidebar">
            @{
                var img = new ImageProcessor().ByteToImage(Model.ProfilePic);
            }
            <img src="@img" width="70" height="70"/>
            <p>@Html.DisplayFor(model => model.Name)</p>
        </div>

        <div id="user_info">
            <ul>
                <h6>Home Base</h6>
               <li>@Html.DisplayFor(model => model.Location)</li>
                <h6>About Me</h6>
                <li>@Html.DisplayFor(model => model.Description)</li>
                <h6>Certification Level</h6>
                <li>@Html.DisplayFor(model => model.Certification)</li>
            </ul>

        </div>

        @*<dl class="dl-horizontal">
            <dt>
                <h4>Name</h4>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                <h4>Profile Pic</h4>
            </dt>

            <dd>
                @{
                    var base64 = Convert.ToBase64String(Model.ProfilePic);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src="@imgSrc" width="100" height="100" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Certification)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Certification)
            </dd>
        </dl>*@

    </div>
    <p>
        @Html.ActionLink("Dive Log", "Index", "Dive") |
        @Html.ActionLink("Add A Dive", "Create", "Dive", new { id = Model.Id }, null) |
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>
