@using DiveO.Services
@model DiveO.ViewModels.DiveViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dive</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dive.DiveSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dive.Location)
        </dd>

        <dt>
            <h5>Date</h5>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dive.DateTime.Date)
        </dd>

        <dt>
            <h5>Time</h5>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dive.DateTime.Hour)  
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dive.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dive.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dive.Depth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dive.Depth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dive.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dive.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dive.Photos)
        </dt>

    </dl>
    <h5>Photos</h5>
    @foreach (var item in Model.Dive.Photos)
    {
        <tr>
            <td>
                @{
                    var img = new ImageProcessor().ByteToImage(item);
                }
                <img src="@img" width="50" height="50"/>
            </td>
        </tr>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = new Dive().Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
