@model DiveO.Models.Dive

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dive</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiveSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiveSite)
        </dd>

        <dt>
            <h5>Date</h5>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            <h5>Time</h5>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime.Hour)  
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photos)
        </dt>

    </dl>
    <h5>Photos</h5>
    @foreach (var item in Model.Photos)
    {
        <tr>
            <td>
                @{
                    var base64 = Convert.ToBase64String(item);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src="@imgSrc" width="50" height="50"/>
            </td>
        </tr>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
