@using DiveO.Services
@model DiveO.ViewModels.DiveViewModel

<div class="row">
    <div class="well col-sm-8 col-sm-offset-2">
        <div class="content">
            <h3>Dive</h3> 
        </div>
    </div>
</div>

<div class="row">
    <div class="well col-sm-8 col-sm-offset-2">
        <div class="content">
            <div class="col-sm-3">
                <h4>DiveSite</h4>
                <p>@Html.DisplayFor(model => Model.Dive.DiveSite)</p>
                <h4>Location</h4>
                <p>@Html.DisplayFor(model => Model.Dive.Location)</p>
            </div>
            <div class="col-sm-3">
                <h4>Date</h4>
                <p>@Html.DisplayFor(model => model.Dive.DateTime.Date)</p>
                <h4>Time</h4>
                <p>@Html.DisplayFor(model => model.Dive.DateTime.Hour)</p>
            </div>
            <div class="col-sm-3">
                <h4>Duration</h4>
                <p>@Html.DisplayFor(model => model.Dive.Duration)</p>
                <h4>Depth</h4>
                <p>@Html.DisplayFor(model => model.Dive.Depth)</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="well col-sm-8 col-sm-offset-2">
        <div class="content">
            <h3>Description</h3>
            @Html.DisplayFor(model => model.Dive.Description)
        </div>
    </div>
</div>

<div class="row">
    <div class="well col-sm-8 col-sm-offset-2">
        <div class="content">
            <h3>Photos</h3>
            @foreach (var item in Model.Photos)
            {
            var img = new ImageProcessor().ByteToImage(item.PhotoBytes);
            <img src="@img" width="50" height="50" />
           }
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = new Dive().Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
