@using DiveO.Services
@model DiveO.ViewModels.DiveViewModel

<div class="row">
    <div class="well col-sm-8 col-sm-offset-2">
        <div class="content">
            <h2>@Html.DisplayFor(model => Model.Dive.DiveSite), @Html.DisplayFor(model => Model.Dive.Location)</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="well col-sm-8 col-sm-offset-2">

        <div class="content">
            <div id="map"></div>
        </div>

        <div class="content">
            <div class="row">
                <div class="col-sm-4">
                    <h4>Date</h4>
                    <p>@Html.DisplayFor(model => model.Dive.DateTime)</p>
                </div>

                <div class="col-sm-4">
                    <h4>Duration</h4>
                    <p>@Html.DisplayFor(model => model.Dive.Duration)</p>
                </div>

                <div class="col-sm-4">
                    <h4>Depth</h4>
                    <p>@Html.DisplayFor(model => model.Dive.Depth)</p>
                </div>
            </div>
             
        </div>
        <div class="content">
                <h3>Description</h3>
                <p>@Html.DisplayFor(model => model.Dive.Description)</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="well col-sm-8 col-sm-offset-2">
        <div class="content">
            <h3>Photos</h3>
            @foreach (var item in Model.Photos)
            {
                var img = new ImageProcessor().ByteToImage(item.PhotoBytes);

                <a href="@Url.Action("GetPhoto", "Photo", new { id = Model.Dive.Id }, null)">
                    <img src="@img" width="50" height="50" />
                </a>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="well col-sm-8 col-sm-offset-2">
        <div class="content">
            <button class="btn btn-primary">@Html.ActionLink("Update", "Edit", new { id = Model.Dive.Id})</button>
        </div>
    </div>
</div>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = new Dive().Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>*@